:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('https://cdn.wallpapersafari.com/82/74/OvIAaz.jpg');
  background-size: cover;
}

header {
  color: rgb(0, 0, 0);
  text-align: center;
  background-image: url('');
  background-size: cover;
  background-position-y: 117rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  border: 18px solid black;
  background-color: rgb(100, 224, 214);
  width: 70%;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

section h2 {
  font-family: 'Coiny';
}

figcaption {
  color: orchid;
  text-align: center;
}

figcaption p {
  color: deeppink;
  font-family: 'Montserrat';
}
